<div class="col mb-4">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}" class="project-card-link">
    <div class="card h-100 hoverable project-card">

      {% if project.img %}
        {% include figure.liquid
          loading="eager"
          path=project.img
          sizes="250px"
          alt="project thumbnail"
          class="card-img-top project-img" %}
      {% endif %}

      <div class="card-body">
        <h2 class="card-title project-title">{{ project.title }}</h2>

        {% if project.subtitle %}
          <p class="project-subtitle">{{ project.subtitle }}</p>
        {% endif %}

        <p class="card-text project-description">{{ project.description }}</p>

        <div class="project-meta">
          {% if project.funding %}
            <span><strong>Funding:</strong> {{ project.funding }}</span>
          {% endif %}
          {% if project.role %}
            <span><strong>Role:</strong> {{ project.role }}</span>
          {% endif %}
          {% if project.period %}
            <span><strong>Period:</strong> {{ project.period }}</span>
          {% endif %}
          {% if project.status %}
            <span><strong>Status:</strong> {{ project.status }}</span>
          {% endif %}
        </div>

        {% if project.github %}
          <div class="github-icon mt-2">
            <div class="icon" data-toggle="tooltip" title="Code Repository">
              <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </a>
</div>