<div class="col mb-4">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">

      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes="250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}

      <div class="card-body">

        <h2 class="card-title">{{ project.title }}</h2>

        {% if project.subtitle %}
          <p class="text-muted mb-2">{{ project.subtitle }}</p>
        {% endif %}

        <p class="card-text">{{ project.description }}</p>

        {% if project.role %}
          <p class="mb-1"><strong>Role:</strong> {{ project.role }}</p>
        {% endif %}

        {% if project.period %}
          <p class="mb-1"><strong>Period:</strong> {{ project.period }}</p>
        {% endif %}

        {% if project.status %}
          <p class="mb-2"><strong>Status:</strong> {{ project.status }}</p>
        {% endif %}

        <div class="row ml-1 mr-1 p-0">

          {% if project.github %}
            <div class="github-icon mr-3">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
            </div>
          {% endif %}

          {% if project.website %}
            <div class="github-icon mr-3">
              <div class="icon" data-toggle="tooltip" title="Project Website">
                <a href="{{ project.website }}"><i class="fa-solid fa-link gh-icon"></i></a>
              </div>
            </div>
          {% endif %}

          {% if project.doi %}
            <div class="github-icon mr-3">
              <div class="icon" data-toggle="tooltip" title="DOI">
                <a href="{{ project.doi }}"><i class="fa-solid fa-file-lines gh-icon"></i></a>
              </div>
            </div>
          {% endif %}

        </div>

      </div>
    </div>
  </a>
</div>